<div id="gtco-counter" class="py-28 md:py-8 clear-both relative text-center">
    <div class="max-w-[1100px] mx-auto px-4 relative">

        <div class="flex flex-wrap">
            <div class="w-full md:w-8/12 md:mx-auto text-center mb-20 md:mb-8 animate-box">
                <h2 class="font-['Kaushan_Script',cursive] text-[#FBB448] text-5xl md:text-[26px] mb-2.5 leading-normal font-light relative">Fatos</h2>
                <p class="text-xl md:text-base leading-normal text-gray-500 mb-5">Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta!</p>
            </div>
        </div>

        <div class="flex flex-wrap">

            <div class="w-full sm:w-1/2 md:w-1/4 mb-10 md:mb-12 animate-box" data-animate-effect="fadeInUp">
                <div class="text-center px-2.5 float-left w-full mb-10 md:mb-12">
                    <span class="counter text-5xl mb-2.5 text-[#FBB448] font-light block js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label mb-0 uppercase text-black/50 tracking-[0.1em] block">Avaliação Média</span>

                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 mb-10 md:mb-12 animate-box" data-animate-effect="fadeInUp">
                <div class="text-center px-2.5 float-left w-full mb-10 md:mb-12">
                    <span class="counter text-5xl mb-2.5 text-[#FBB448] font-light block js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label mb-0 uppercase text-black/50 tracking-[0.1em] block">Opções de Pratos</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 mb-10 md:mb-12 animate-box" data-animate-effect="fadeInUp">
                <div class="text-center px-2.5 float-left w-full mb-10 md:mb-12">
                    <span class="counter text-5xl mb-2.5 text-[#FBB448] font-light block js-counter" data-from="0" data-to="32" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label mb-0 uppercase text-black/50 tracking-[0.1em] block">Chefes de Cozinha</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 mb-10 md:mb-12 animate-box" data-animate-effect="fadeInUp">
                <div class="text-center px-2.5 float-left w-full mb-10 md:mb-12">
                    <span class="counter text-5xl mb-2.5 text-[#FBB448] font-light block js-counter" data-from="0" data-to="1985"
                        data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label mb-0 uppercase text-black/50 tracking-[0.1em] block">Desde</span>

                </div>
            </div>

        </div>
    </div>
</div>