<div class="h-[600px] md:h-[400px] bg-cover bg-center bg-no-repeat relative float-left w-full" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="absolute inset-0 bg-black/50 z-1"></div>
    <div class="max-w-[1100px] mx-auto px-4 relative z-10 text-center">
        <div class="h-[600px] md:h-[400px] table w-full">
            <div class="table-cell align-middle">
                <h1 class="text-white text-4xl md:text-2xl font-light leading-normal mb-8">&ldquo; Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma
                    pindureta!&rdquo;</h1>
                <p class="text-white/90 text-xl md:text-base">&mdash; Mussum, Humorista.</p>
            </div>
        </div>
    </div>
</div>