<div class="fixed bottom-5 right-5 z-[999] opacity-0 invisible transition-all duration-500 gototop js-top active">
    <a href="#" class="w-[50px] h-[50px] table bg-black/50 text-white text-center rounded js-gotop hover:no-underline hover:outline-none">
        <i class="icon-arrow-up h-[50px] table-cell align-middle"></i>
    </a>
</div>