<footer id="gtco-footer" class="bg-[#333333] bg-cover bg-center bg-no-repeat relative py-28 md:py-8" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)"
    data-stellar-background-ratio="0.5">
    <div class="absolute inset-0 bg-black/80 transition-all duration-500"></div>
    <div class="max-w-[1100px] mx-auto px-4 relative z-10">
        <div class="flex flex-wrap pb-16 md:pb-8">

            <div class="w-full text-center">
                <div class="mb-8 float-left w-full">
                    <h3 class="mb-4 font-bold text-base tracking-[2px] uppercase text-white">Entrar em Contato</h3>
                    <ul class="p-0 m-0 mb-5 float-left w-full">
                        <li class="p-0 m-0 mr-5 mb-2.5 inline-block list-none">
                            <a href="#" class="no-underline text-white hover:underline">
                                <i class="icon-phone w-[30px] float-left text-lg relative mt-1 inline-block"></i> +1 234 567 890</a>
                        </li>
                        <li class="p-0 m-0 mr-5 mb-2.5 inline-block list-none">
                            <a href="#" class="no-underline text-white hover:underline">
                                <i class="icon-mail2 w-[30px] float-left text-lg relative mt-1 inline-block"></i> contato@hcode.com.br</a>
                        </li>
                        <li class="p-0 m-0 mr-5 mb-2.5 inline-block list-none">
                            <a href="#" class="no-underline text-white hover:underline">
                                <i class="icon-chat w-[30px] float-left text-lg relative mt-1 inline-block"></i> Chat</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-8 float-left w-full">
                    <h3 class="mb-4 font-bold text-base tracking-[2px] uppercase text-white">Redes Sociais</h3>
                    <ul class="p-0 m-0">
                        <li class="p-0 m-0 list-none inline-block">
                            <a href="https://twitter.com/hcodebr" class="text-[#FBB448] px-2.5 inline-block">
                                <i class="icon-twitter text-xl"></i>
                            </a>
                        </li>
                        <li class="p-0 m-0 list-none inline-block">
                            <a href="https://www.facebook.com/hcodebr" class="text-[#FBB448] px-2.5 inline-block">
                                <i class="icon-facebook text-xl"></i>
                            </a>
                        </li>
                        <li class="p-0 m-0 list-none inline-block">
                            <a href="https://www.linkedin.com/company/grupo-hcode/" class="text-[#FBB448] px-2.5 inline-block">
                                <i class="icon-linkedin text-xl"></i>
                            </a>
                        </li>
                        <li class="p-0 m-0 list-none inline-block">
                            <a href="https://www.youtube.com/channel/UCjWENuSH2gX55-y7QSZiWxA" class="text-[#FBB448] px-2.5 inline-block">
                                <i class="icon-youtube text-xl"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="w-full text-center pt-12 mt-12 border-t border-white/10 text-[#666666]">
                <p>
                    <small class="block">&copy; 2018 Hcode. Todos os Direitos Reservados.</small>
                    <small class="block">Desenvolvido por
                        <a href="https://www.hcode.com.br" target="_blank" class="text-[#FBB448] hover:text-white transition-colors">Hcode.com.br</a>
                    </small>
                </p>
            </div>
        </div>

    </div>
</footer>