<!DOCTYPE HTML>
<html>
<%- include('head'); -%>

<body class="font-['Lato',Arial,sans-serif] font-normal text-base leading-[1.7] text-[#777] bg-white">

    <div class="gtco-loader"></div>

    <div id="page" class="relative overflow-x-hidden w-full h-full transition-all duration-500">

        <%- include('header-menu'); -%>

        <% if (headerIndex === true) { %>
            <%- include('header-index'); -%>
        <% } else { %>
            <%- include('header'); -%>
        <% } %>