@import "tailwindcss";

@theme {
  --color-primary: #FBB448;
  --color-primary-hover: #fcbe61;
  --font-family-base: "Lato", Arial, sans-serif;
  --font-family-cursive: "Kaushan Script", cursive;
}

/* Custom styles que precisam ser mantidos */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), 
       url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), 
       url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), 
       url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Selection color */
::selection {
  color: #fff;
  background: #FBB448;
}

::-webkit-selection {
  color: #fff;
  background: #FBB448;
}

::-moz-selection {
  color: #fff;
  background: #FBB448;
}

/* Offcanvas overlay */
.offcanvas #page::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  transition: 2s;
}

/* Dropdown arrow */
.gtco-nav ul li.has-dropdown .dropdown::before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

/* Contact info icons */
.gtco-contact-info ul li::before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: 0.05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gtco-contact-info ul li.address::before {
  font-size: 30px;
  content: "\e9d1";
}

.gtco-contact-info ul li.phone::before {
  font-size: 23px;
  content: "\e9f4";
}

.gtco-contact-info ul li.email::before {
  font-size: 23px;
  content: "\e9da";
}

.gtco-contact-info ul li.url::before {
  font-size: 23px;
  content: "\e9af";
}

/* Offcanvas dropdown arrow */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a::after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

/* Card item overlay effect */
.fh5co-card-item .fh5co-text::before {
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  width: 103%;
  margin-left: -4px;
  height: 50px;
  z-index: -1;
  content: "";
  background: #fff;
  transform: rotate(4deg);
}

/* Price box popular badge */
.price-box.popular .popular-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #FBB448;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* Nav toggle hamburger */
.gtco-nav-toggle i::before,
.gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle.active i {
  background: transparent;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

/* Loader */
.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

/* Animate box initial state */
.js .animate-box {
  opacity: 0;
}

/* Base body styles */
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

/* Links */
a {
  color: #FBB448;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #FBB448;
  outline: none;
  text-decoration: none;
}

/* Paragraphs */
p {
  margin-bottom: 20px;
}

/* Headings */
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

/* Offcanvas page state */
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

/* Gototop visibility */
.gototop.active {
  opacity: 1;
  visibility: visible;
}

/* Nav toggle styles */
.gtco-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 2001;
  padding: 6px 0 0 0;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
}

.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}

.gtco-nav-toggle.gtco-nav-white > i::before, 
.gtco-nav-toggle.gtco-nav-white > i::after {
  background: #fff;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

/* Menu visibility on mobile */
@media screen and (max-width: 768px) {
  .menu-1 {
    display: none;
  }
}

/* Offcanvas menu */
#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  transform: translateX(270px);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}

.offcanvas #gtco-offcanvas {
  transform: translateX(0px);
}

#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}

#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a::after {
  transform: rotate(-180deg);
}

/* Dropdown menu */
.gtco-nav ul li.has-dropdown .dropdown {
  width: 190px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  transition: 0s;
}

.gtco-nav ul li.has-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #FBB448;
}

.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}

/* Active menu item */
.gtco-nav ul li.active > a {
  color: #FBB448 !important;
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
